html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #424242 ;
    color: #bdbdbd;
}

.topleft, .topright, .bottomleft, .bottomright {
    width: 50%;
    height: 50%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.time, .weather, .events, .news {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #bdbdbd;
    border-radius: 10px;
    box-sizing: border-box;
}

.time {
    white-space: pre-line;
    text-align: center;
}

#time {
    text-align: center;
    font-size: 12vw;
}

#date {
    font-size: 4vw;
    line-height: 10px;
}

#subtime {
    font-size: 3vw;
    line-height: 2em;
}

.weather {
    list-style-type: none;
    padding: 25px;
}

.weather li {
    margin-left: 20px;
    display: inline;
    float: left;
}


#current {
    font-size: 3em;
    float: left;
    margin-top: 30%;
    /*margin-left: 20px;*/
    margin-left: 1%;
}

img[alt=currentimg] {
    position: absolute;
    /*margin-left: -125px;*/
    margin-left: -8%; 
    margin-top: -9%;
    width: 8vw;
    height: 8vw;
}

#day1, #day2, #day3, #day4 {
    position: inline;
    height: auto;
    width: auto;
    margin-top: 30%;
    /*margin-left: 175px;*/
    margin-left: 25%;
}

#day1temp, #day2temp, #day3temp, #day4temp {
    position: inline;
    font-size: 1.1em;
}

img[alt=day1img] {
    position: absolute;
    /*margin-left: -130px;*/
    margin-left: -6%;
    margin-top: -7%;
    width: 6vw;
    height: 6vw;
}

img[alt=day2img] {
    position: absolute;
    /*margin-left: -125px;*/
    margin-left: -6%;
    margin-top: -7%;
    width: 6vw;
    height: 6vw;
}

img[alt=day3img] {
    position: absolute;
    /*margin-left: -134px;*/
    margin-left: -6%;
    margin-top: -7%;
    width: 6vw;
    height: 6vw;
}

img[alt=day4img] {
    position: absolute;
    /*margin-left: -130px;*/
    margin-left: -6%;
    margin-top: -7%;
    width: 6vw;
    height: 6vw;
}

.events {
    text-align: center;
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
}

.news {
    text-align: center;
    font-size: 2vw;
    float: left;
    text-align: justify;
}

#news0, #news1, #news2 {
    float: left;
    margin: 10px;
    text-align: center;
}